Depends: pgloader, ca-certificates, cl-postmodern, postgresql
Tests: ssl
Restrictions: allow-stderr, needs-root

Depends: pgloader, postgresql-14-ip4r | postgresql-ip4r
Tests: testsuite
Restrictions: allow-stderr
