Source: pgloader
Section: misc
Priority: extra
Maintainer: Dimitri Fontaine <dim@tapoueh.org>
Build-Depends: debhelper (>= 5), docbook-to-man (>= 2.0.0), python-support (>= 0.3), xmlto
Standards-Version: 3.7.3
Homepage: http://pgloader.projects.postgresql.org

Package: pgloader
Architecture: all
Depends: python (>=2.4.4), python-psycopg2 | python-psycopg (<< 1.1.21)
Description: loads flat data files into PostgreSQL
 pgloader imports data from flat files and insert it into a database
 table. You have to provide a configuration file containing sections,
 which each defines how to load a table. CSV and text format are
 supported, the former is able to import MySQL dumps when -T is used,
 the latter is able to parse multi-line non-quoted with trailing
 delimiter quite CSV input, such as given by Informix UNLOAD.
