Source: pgloader
Section: misc
Priority: extra
Maintainer: Dimitri Fontaine <dim@dalibo.com>
Build-Depends: debhelper (>= 5), docbook-to-man (>= 2.0.0), python-support (>= 0.3)
Standards-Version: 3.7.2

Package: pgloader
Architecture: all
Depends: python (>=2.4.4), python-psycopg2 | python-psycopg (<< 1.1.21)
Description: loads flat data files into PostgreSQL
 pgloader imports data from a flat file and insert it into a database
 table. It uses a flat file per database table, and you can configure as
 many Sections as you want, each one associating a table name and a data
 file.
 .
 Data are parsed and rewritten, then given to PostgreSQL COPY command.
 Parsing is necessary for dealing with end of lines and eventual trailing
 separator characters, and for column reordering: your flat data file may
 not have the same column order as the databse table has.

