#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKGVERS = $(shell dpkg-parsechangelog | awk -F '[:-]' '/^Version:/ { print substr($$2, 2) }')
EXCLUDE = --exclude-vcs --exclude=debian --exclude=build

orig: clean
	cd .. && tar czf pgloader_$(PKGVERS).orig.tar.gz $(EXCLUDE) pgloader

override_dh_auto_build:
	make docs
	buildapp --logfile /tmp/pgloader-build.log          \
                 --require sb-posix                         \
                 --require sb-bsd-sockets                   \
                 --asdf-path .                              \
                 --asdf-tree /usr/share/common-lisp/systems \
                 --load-system asdf               	    \
                 --load-system asdf-finalizers         	    \
                 --load-system asdf-system-connections 	    \
                 --load-system pgloader               	    \
                 --load src/hooks.lisp                      \
                 --entry pgloader:main                      \
                 --dynamic-space-size 4096                  \
                 --compress-core                    	    \
                 --output build/bin/pgloader

override_dh_auto_test:
	# do nothing

override_dh_strip:
	# do nothing

%:
	dh $@ 
