{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.12.0"}
  org.clojure/tools.cli     {:mvn/version "0.4.2"}
  org.clojure/tools.logging {:mvn/version "1.3.0"}

  instaparse/instaparse     {:mvn/version "1.4.12"}

  com.layerware/hugsql-core                 {:mvn/version "0.5.3"}
  com.layerware/hugsql-adapter-next-jdbc    {:mvn/version "0.5.3"}

  com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
  com.github.seancorfield/honeysql  {:mvn/version "2.6.1147"}

  org.postgresql/postgresql {:mvn/version "42.7.3"}
  com.mysql/mysql-connector-j {:mvn/version "9.0.0"}
  com.microsoft.sqlserver/mssql-jdbc {:mvn/version "12.6.1.jre11"}
  org.xerial/sqlite-jdbc    {:mvn/version "3.46.0.0"}

  com.opencsv/opencsv       {:mvn/version "5.9"}
  com.github.albfernandez/javadbf {:mvn/version "1.13.1"}

  ch.qos.logback/logback-classic {:mvn/version "1.5.6"}
  com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner"
                  :sha     "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
   :ns-default build}

  :native
  {:jvm-opts ["-agentlib:native-image-agent=config-output-dir=graalvm-config"]}}}
